body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ecf0f1; 
}

main {
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

label {
    display: inline-block;
    padding: .4rem;
    margin-bottom: .8rem;
    text-transform: uppercase;
    font-size: .7rem;
    background-color: #ecf0f1;
}

input{
    display: block;
    width: 100%;
    height: calc(1.6em + .75rem + 2px);
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;   
    transition: width 800ms ease-out;
    margin: 1em 0 1em 0;
}

input:focus{
    border-bottom: 2px solid #3498db;
    width: 95%;
}

input[type="submit"] {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    font-size: 1rem;
    color: rgb(52, 152, 219);
    border: 1px solid rgb(52, 152, 219);
    background-color: white;
}

textarea {
    display: block;
    width: 100%;
    border: 1px solid lightgray;
    outline: none;
}

textarea:focus {
    border: 2px solid #3498db;
}

.header-row {
    background-color: white;
    padding: 1rem 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
}

#brand {
    display: inline-block;
    margin-left: 1.5em;
    font-size: 1em;
    letter-spacing: .3rem;
}

.form-group {
    padding: 15px 0 15px;
}

#ribbon {
    width: 100%;
    height: 60vh;
    background-color: #2980b9;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    z-index: -1;
}